$gray:#DCDCDC;

.pokeNum{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Poke{
  display: flex;
  width: 40em;
  margin:auto;
  .BookMark{
    margin-left: 2em;
    .BookMarkList{
      border: 1px solid;
      height: 20em;
      width: 10em;
      overflow-y: scroll;
    }
  }
  form{
    justify-content: center;
    border-radius: 100em;
    display: flex;
    input{
      width: 20em;
      height: 2em;
    }
    button{
      width: 7em;
      border:none;
      border-radius: 1em;
      background-color: $gray;
      &:hover{
        background-color: lighten($gray, 5%);
      }
      &:active{
        background-color: darken($gray, 5%);
      }
    }
  }
  .sideButton{
    margin: 150px 0px;
    height: 5em;
    width: 3em;
    border:none;
    border-radius: 1em;
    background-color: $gray;
    &:hover{
      background-color: lighten($gray, 5%);
    }
    &:active{
      background-color: darken($gray, 5%);
    }
  }
  div{
    margin: auto;
    ul{
      list-style: square;
    }
  }
}
pre{
  background-color: #E6E6FA;
  border-radius: 1em;
  padding:10px;
  overflow: auto;
  white-space: pre-wrap; /* pre tag내에 word wrap */
  font-family: 'Nanum Gothic', sans-serif;
}
body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
}